name: Hola mundo
on: [push]
jobs:
  hola:
    runs-on: ubuntu-latest
    steps:
    - name: Hola mundo
      run: echo "Hola Mundo"
    - name: touch
      run: touch hola.txt
  other:
    runs-on: ubuntu-latest
    steps:
    - name: LS
      run: ls -al    